/* shared styles */

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.color-type1{
    color: #4E47FF;
}

.btn-type1{
    background-color: #4E47FF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 36px;
    border: none;
    border-radius: 10px;
    
}

/* header styles */

.header{
    background-image: url(../Assets/Hero-bg.png);
}
/* nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}

.nav-title {
    font-weight: 900;
    font-size: 35px;
}

/* Action styles */


.action-content{
    font-size: 65px;
    margin: 0px auto auto 20px;
    text-align: center;
}

.action-title{
    margin-top: 158px;
    margin-bottom: 0;
}

.action-subtitle{
    margin-top: 0;
    margin-bottom: 37px;
}

.action-button{ 
    margin: 0px 42% 150px;
    
}