/* shared styles */

.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.color-type1 {
    color: #4E47FF;
}

.btn-type1 {
    background-color: #4E47FF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 36px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-type1:hover{
    background-color: goldenrod;
    color: #000000;
}

/* body styles */
body{
    background-color: #F5F8FF;
}
/* header styles */

.header {
    background-image: url(../Assets/Hero-bg.png);
    height: 700px;
}

/* nav styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}

.nav-title {
    font-weight: 900;
    font-size: 35px;
}

/* Banner styles */

.banner-content {
    font-size: 65px;
    margin: 0px auto auto 20px;
    text-align: center;
}

.banner-title {
    margin-top: 158px;
    margin-bottom: 0;
}

.banner-subtitle {
    margin-top: 0;
    margin-bottom: 20px;
}

.banner-button {
    text-align: center;
    margin-top: 0px;
}

/* main styles */

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* section Styles */

.section{
    margin-top: 200px;
    margin-bottom: 200px;
}

.section-title{
    font-size: 42px;
    font-weight: 700;
    color: #252432;
    margin: 0px;
}

/* Live Preview section style */

.live-preview{
    display: flex;
    gap: 220px;
    align-items: center;
    
}

.preview-subtitle{
    font-size: 24px;
    font-weight: 500;
    color: #25243250;
    margin-top: 10px;
}

.preview-image img{
    border: none;
    border-radius: 48px;
}

/* User feedback Section */

.feedback-section .section-title{
    text-align: center;
    margin-bottom: 50px;
}

.feedback-cards{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

}

.user-feedback{
    background-color: #FFFFFF;
    padding: 24px;
    border: none;
    border-radius: 14px;
}

.customer{
    display: flex;
    align-items: center;
    gap: 25px 12px ;
    padding: 24px auto ;

}

.feedback-title{
    font-size: 24px;
    font-weight: 700;
    color: #1E1E1E;
    margin-bottom: 0px;
}

.feedback-description{
    font-size: 16px;
    font-weight: 500;
    color: #1E1E1E;
    margin-top: 8px;
}

.customer-texts h3{
    margin: 0px 10px
}

.customer-image img{
    border: none;
    border-radius: 50%;
}

.customer-texts h3{
    margin: 0px 10px
}

.customer-name{
    font-size: 16px;
    font-weight: 600;
    color: #757575;
    margin: 0px;

}

.date{
    font-size: 16px;
    font-weight: 400;
    color: #B3B3B3;
    margin: 0px;

}



/* User metrics styles */

.users-metrics{
    background-color: #4E47FF10;
    padding: 50px 142px;
    border: none;
    border-radius: 25px;
}

.users-metrics .section-title{
    text-align: center;
    margin-bottom: 40px;
}

.users-metrics-cards{
    display: flex;
    gap: 160px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.metrics-title{
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
    margin: 0 auto;
}

.metrics-subtitle{
    font-size: 20px;
    font-weight: 500;
    color: #00000050;
    margin: 0 auto;
}

/* Form styles */

.forms{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 115px;
    margin-bottom: 85px;
}

.form-title{
    font-size: 60px;
    font-weight: 700;
}

.form-inputs label{
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}

.form-inputs input[type="text"], .form-inputs input[type="email"], .form-inputs textarea{
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    padding: 20px 20px;
    width: 450px;
    margin-top: 5px;
    margin-bottom: 19px;
    border: none ;
    border-radius: 10px;
}

.submit-button{
    padding: 19px 200px;
}

/* footer styles */

footer{
    background-color: #FFFFFF;
    padding: 100px;
    height: inherit;
}

.footer-title{
    color: #4E47FF;
    font-size: 100px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 8px;
}

.footer-subtitle{
    font-size: 18px;
    font-weight: 400;
    color: #8987A1;
    text-align: center;

}
.footer-pages{
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
}

.footer-pages a{
    color: #8987A1;
    text-decoration: none;
}

.footer-pages a:hover{
    color: blue;
    text-decoration: underline;
}

